name: Build and Deploy Autograder API

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  deploy:
    name: Deploy Autograder API
    uses: webtech-network/prisma-infrastructure/.github/workflows/backend-python.yml@main
    with:
      service-name: 'autograder-api'
      service-port: '8001'
      docker-context: '.'
      dockerfile-path: './Dockerfile.api'
      python-version: '3.11'
      codecov-upload: true
    secrets:
      SERVER_HOST: ${{ secrets.SERVER_HOST }}
      SERVER_USER: ${{ secrets.SERVER_USER }}
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
